{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if device.is_xsmall or device.is_small %}
  <h4 class="card-title">Decision Tree Generator Using Gini Index</h4>
  <hr>
  <h5 class="card-title"> What Is Decision Tree :</h5>
  
  <ul>
    <li>
      Decision tree algorithm falls under the category of supervised learning. They can be used to solve both regression and classification problems.
    </li>
    <li>
      Decision tree uses the tree representation to solve the problem in which each leaf node corresponds to a class label and attributes are represented on the internal node of the tree.
    </li>
    <li>
      We can represent any boolean function on discrete attributes using the decision tree.
    </li>
  </ul>

  <div class="container" style="text-align:center;">
      <img src="{% static 'decision-tree.png' %}" class ="img-thumbnail" />
  </div>
  <hr>

  <h5 class="card-title">Tree Generation Using Gini Index</h5>  
  <h6 class="card-title">Gini Index :</h6>
  <ul>
    <li>
      Gini Index is a metric to measure how often a randomly chosen element would be incorrectly identified.
    </li>
    <li>
      It means an attribute with lower Gini index should be preferred.
    </li>
    <li>
      Sklearn supports “Gini” criteria for Gini Index and by default, it takes “gini” value.
    </li>
  </ul>
  <br>
  <h5 class="card-title">Formula Of Gini Index :</h5>
  <div class="card-body" style="box-shadow:inset 0 0 10px #000000;text-align:center">
    <img src="{% static 'gini_index.png' %}"  class ="img-thumbnail"/>

  </div>
  {% elif device.is_medium %}
  <h3 class="card-title">Decision Tree Generator Using Gini Index</h3>
  <hr>
  <h4 class="card-title"> What Is Decision Tree :</h4>
  
  <ul>
    <li>
      Decision tree algorithm falls under the category of supervised learning. They can be used to solve both regression and classification problems.
    </li>
    <li>
      Decision tree uses the tree representation to solve the problem in which each leaf node corresponds to a class label and attributes are represented on the internal node of the tree.
    </li>
    <li>
      We can represent any boolean function on discrete attributes using the decision tree.
    </li>
  </ul>

  <div class="container" style="text-align:center;">
      <img src="{% static 'decision-tree.png' %}" class ="img-thumbnail" />
  </div>
  <hr>

  <h4 class="card-title">Tree Generation Using Gini Index</h4>  
  <h5 class="card-title">Gini Index :</h5>
  <ul>
    <li>
      Gini Index is a metric to measure how often a randomly chosen element would be incorrectly identified.
    </li>
    <li>
      It means an attribute with lower Gini index should be preferred.
    </li>
    <li>
      Sklearn supports “Gini” criteria for Gini Index and by default, it takes “gini” value.
    </li>
  </ul>
  <br>
  <h5 class="card-title">Formula Of Gini Index :</h5>
  <div class="card-body" style="box-shadow:inset 0 0 10px #000000;text-align:center">
    <img src="{% static 'gini_index.png' %}"  class ="img-thumbnail"/>

  </div>
  {% else %}
  <h2 class="card-title">Decision Tree Generator Using Gini Index</h2>
  <hr>
  <h3 class="card-title"> What Is Decision Tree :</h3>
  
  <ul>
    <li>
      Decision tree algorithm falls under the category of supervised learning. They can be used to solve both regression and classification problems.
    </li>
    <li>
      Decision tree uses the tree representation to solve the problem in which each leaf node corresponds to a class label and attributes are represented on the internal node of the tree.
    </li>
    <li>
      We can represent any boolean function on discrete attributes using the decision tree.
    </li>
  </ul>

  <div class="container" style="text-align:center;">
      <img src="{% static 'decision-tree.png' %}" class ="img-thumbnail" />
  </div>
  <hr>

  <h3 class="card-title">Tree Generation Using Gini Index</h3>  
  <h3 class="card-title">Gini Index :</h3>
  <ul>
    <li>
      Gini Index is a metric to measure how often a randomly chosen element would be incorrectly identified.
    </li>
    <li>
      It means an attribute with lower Gini index should be preferred.
    </li>
    <li>
      Sklearn supports “Gini” criteria for Gini Index and by default, it takes “gini” value.
    </li>
  </ul>
  <br>
  <h2 class="card-title">Formula Of Gini Index :</h2>
  <div class="card-body" style="box-shadow:inset 0 0 10px #000000;text-align:center">
    <img src="{% static 'gini_index.png' %}"  class ="img-thumbnail"/>

  </div>
  {% endif %}
{% endblock %}
